<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.csulb.android.fitnessapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/fitfriend"
        android:label="FitFriend"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".myLogsActivity"></activity>
        <activity android:name=".WorkoutCreateActivity"></activity>
        <activity android:name=".myWorkoutsActivity"></activity>
        <activity android:name=".inspirationActivity"></activity>
        <activity android:name=".myEventsActivity"></activity>
        <activity android:name=".ActivityBack"></activity>
        <activity android:name=".ActivityLegs"></activity>
        <activity android:name=".ActivityArms"></activity>
        <activity android:name=".ActivityChest"></activity>



    </application>

</manifest>